.w-nav-overlay{
  top: -20px;
  overflow: visible;
}
.w-lightbox-content{
  overflow: hidden auto;

  & .w-lightbox-view{
    height:auto;

    & .w-lightbox-frame{
      & .w-lightbox-img{
        max-height: none;
      }
    }
  }

  & .w-lightbox-close{
    position:fixed;
  }
}

:root {
  --_timing---slide-up: cubic-bezier(0, 1, 0.3, 1);
  --_duration-in---h1: 2s;
  --_duration-in---navbar: 2s;
}

@keyframes slide-up {
  0% {opacity: 0; transform: translateY(40%);}
  100% {opacity: 1; transform: translateY(0%);}
}

/*
main{
  z-index:2;
}