@media screen and (max-width: 767px){
    :root{
        --border-width-01: 2px
    }
}
/*
.body {

  &::-webkit-scrollbar {
   width: 1.2em;
   height: 1em;
   background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 1px solid var(--_colors---offblack);
    border-radius: var(--_size-borders---r-full);
    transition: all 1000ms ease-out;

  }

  &::-webkit-scrollbar-thumb:hover {
    border: 2px solid var(--_colors---cornflower-blue);
  }

}
*/

.link-hover-ix-02:hover {
background-color: var(--cornflower-blue) ;
color: var(--white);
transition: background-color .4s ease-in-out;
}

.link-hover-ix-02:hover img{
  filter: contrast(2) invert(1);
}

.navbar-brand:hover .logo-text{
  color:var(--white);

}

.w-nav-overlay{
  top: -20px;
  overflow: visible;
}

.menu-button.w--open .nav-menu-icon.w-icon-nav-menu {
  color: var(--cornflower-blue);
}