.h3-project-title{
    transition: color .5s ease .2s;
}

.h4-project-subtitle{
    transition: color .5s ease .2s;
}

.project-feature-container:hover .h3-project-title {
    color: var(--white);
    z-index:2;
}

.project-feature-container:hover .h4-project-subtitle {
    color: var(--white);
    z-index:2;
}

