
.content-swiper{
    &:not(.mobile-mode){
        & .swiper-slide{
        opacity:1;
    
            &.swiper-slide-active{
                min-height: min-content;
                height: calc(600px - 14vw);
                max-height: 430px;

                & .project-pre-title{
                    opacity: 0;
                }
            }
        
            & .project-pre-title {
                &.hidden{
                    opacity: 0;
                    display: none;
                }
            }
        
            &:not(.swiper-slide-active){
                min-height: min-content;
        
                & .card-image-wrap, .project-title, .project-desc-wrap, .project-tags-row, .card-link-row {
                    display: none;
                }
            
                & .card-info-wrap{
                    padding-top: var(--_spacing-layout---p-10);
                    padding-bottom: var(--_spacing-layout---p-7);
                }
        
            }
        }
    }
    
    &.mobile-mode{
        & .project-pre-title{
            display: none;
        }
    }
}